<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KHHSLINK 로그인</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/longin.css') }}">
</head>
<body class="login-body">

  <!-- 로그인 컨테이너 -->
  <div class="login-container">
    <div class="logo2">
      <img src="logo2.png" alt="logo2" class="logo2">
    </div>
    <p class="login-subtitle">경희고등학교 통합 플랫폼</p>

    <form class="login-form">
      <input type="text" placeholder="아이디 (학번 또는 이메일)" required>
      <input type="password" placeholder="비밀번호" required>
      <button type="submit" class="login-btn">로그인</button>
    </form>

    <div class="login-links">
      <p class="login-examples">리로스쿨 아이디/비밀번호와 같습니다.</p>
    </div>
  </div>

</body>
</html>


